body {
  margin: 0;
  padding: 0;
  background-color: #5A0909;
  color: white;
  font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
}

h1 {
  font-size: 60px;
  font-weight: bolder;
}

.hero-title {
  font-size: 45px;
}
.selling-points {
  overflow: hidden;

}
.point {
  display: table;
  padding-bottom: 99999px;
  margin-bottom: -99999px;
  float: left;
  width: 33.333%;
  background-color: white;
  color: #5A0909;
}

nav {
  background-color: black;
  height: 35px;
}
nav .Links {
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

nav .Links:visited {
  color: white;
}

nav .Links:hover {
  background-color: #ddd;
  color: black;
}

.Album {
  float: left;
  width: 50%;
}

.Album .Album-links {
  text-decoration: none;
}

.Album .Album-links:visited {
  color: white;
}

#album-info {
  float: left;
  width: 50%;
  display: table-cell;
}

#song-list {
  display: table;
  border-collapse: collapse;
  float: left;
  width: 50%;
  margin: 0 auto;
}

.song {
  border-bottom: 0.5px dotted white;
}

.song:hover {
  background-color: #ddd;
  color: black;
}


#album-cover-art {
  display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

#player-bar {

}

#col-container {
  display: table;
  width: 100%;
  overflow: hidden;
  margin: auto;
}

#album-title {
  float: left;
  width: 33%;
}

.artist {
  float: left;
  width: 33%;
}

#release-info {
  float: left;
  width: 33%;
}
